<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>shurain.pygmentize</string>
	<key>connections</key>
	<dict>
		<key>89871293-52CF-45FB-A235-A15B5F16D417</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E565263-D1E9-4086-B01A-18D7D442E0B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9D5A89B2-ED0C-4E07-AB3D-61DCD64F1C4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89871293-52CF-45FB-A235-A15B5F16D417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A147E532-EF1E-44B9-A524-1A29418C6BED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E565263-D1E9-4086-B01A-18D7D442E0B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC37B6CE-1EF5-486A-8D85-B2EBE36A4FF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A147E532-EF1E-44B9-A524-1A29418C6BED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sungjoo Ha (shurain)</string>
	<key>description</key>
	<string>Pygmentize code</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pygmentize</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>/usr/local/bin/pygmentize -f rtf -O style=tomorrow,fontface=Menlo "{query}" | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89871293-52CF-45FB-A235-A15B5F16D417</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Pygmentize</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>9D5A89B2-ED0C-4E07-AB3D-61DCD64F1C4B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Pygmentized</string>
				<key>title</key>
				<string>Pygmentize</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E565263-D1E9-4086-B01A-18D7D442E0B2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>pbpaste | /usr/local/bin/pygmentize -f rtf -O style=tomorrow,fontface=Menlo,encoding=utf-8 -l "{query}" | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A147E532-EF1E-44B9-A524-1A29418C6BED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>py</string>
				<key>subtext</key>
				<string>Pygmentize [language]</string>
				<key>text</key>
				<string>Pygmentize clipboard contents</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC37B6CE-1EF5-486A-8D85-B2EBE36A4FF5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7E565263-D1E9-4086-B01A-18D7D442E0B2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>89871293-52CF-45FB-A235-A15B5F16D417</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9D5A89B2-ED0C-4E07-AB3D-61DCD64F1C4B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A147E532-EF1E-44B9-A524-1A29418C6BED</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DC37B6CE-1EF5-486A-8D85-B2EBE36A4FF5</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://twitter.com/shurain_</string>
</dict>
</plist>
